<mat-tab-group>
    <mat-tab label="Đăng ký khóa học">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Bạn đã đăng ký khóa học thành công !</strong>
                        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form #registerCourseForm="ngForm" (ngSubmit)="registerCourse(registerCourseForm.value)">
                        <div class="form-group">
                            <label>Mã khóa học</label>
                            <input type="text" name="maKhoaHoc" class="form-control"
                                placeholder="Copy mã khóa học từ trang detail vào" aria-describedby="helpId" ngModel
                                required #maKhoaHoc="ngModel" />
                            <div class="alert alert-danger"
                                *ngIf="maKhoaHoc.errors && (maKhoaHoc.dirty || maKhoaHoc.touched)">
                                <!-- Kiểm tra rỗng -->
                                <div *ngIf="maKhoaHoc.errors.required">Mã khóa học không được bỏ trống</div>


                            </div>

                        </div>
                        <div class="form-group">
                            <label> Tên tài khoản</label>
                            <input type="text" name="taiKhoan" class="form-control"
                                placeholder="Nhập tài khoản id của bạn vào" aria-describedby="helpId" ngModel required
                                #taiKhoan="ngModel" minlength="7" maxlength="15">
                            <div class="alert alert-danger"
                                *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)">
                                <!-- Kiểm tra rỗng -->
                                <div *ngIf="taiKhoan.errors.required"> Tài khoản không được bỏ trống</div>
                                <!-- Kiểm tra độ dài ký tự -->
                                <div *ngIf="taiKhoan.errors.minlength || taiKhoan.errors.max length "> Độ dài ký tự phải
                                    từ 7 đến 15</div>


                            </div>

                        </div>
                        <button class="btn btn-success" [disabled]="!registerCourseForm.valid"> Đăng ký khóa
                            học</button>

                    </form>

                </div>

            </div>
        </div>
    </mat-tab>
    <mat-tab label="Kiểm tra khóa học đã đăng ký">
        <br />
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-tab>
</mat-tab-group>