<div class="container bootdey">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="pro-img-details">
            <img [src]="course.hinhAnh" [alt]="course.moTa">
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="pro-d-title">
            <a href="#" class="">
              {{course.tenKhoaHoc}}
            </a>
          </h4>
          <p>
            {{course.moTa}}
          </p>
          <div class="product_meta">
            <span class="posted_in"> <strong>Lượt Xem:{{course.luotXem}}</strong></span>
          </div>
          <div class="m-bot15"> <strong>Mã Khóa học :{{course.maKhoaHoc}} </strong> </div>

        </div>
      </div>
    </section>
  </div>
</div>
