<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm.value)">
        <div class="form-group">
          <label>Tai Khoan</label>
          <input type="text" class="form-control" name="taiKhoan" ngModel required #TaiKhoan="ngModel" minlength="7"
            maxlength="15" />
          <div class="alert alert-danger" *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)">
            <!-- Kiem tra rong -->
            <div *ngIf="TaiKhoan.errors.required">Tai khoan k dc rong</div>

            <!-- Kiem tra do dai ky tu -->
            <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
              Do dai ky tu phai 7 - 15
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Mat Khau</label>
          <input type="text" class="form-control" name="matKhau" ngModel />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ngModel required #Email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
          <div class="alert alert-danger" *ngIf="Email.errors && (Email.dirty || Email.touched)">
            <div *ngIf="Email.errors.required">Vui long nhap email</div>
            <div *ngIf="Email.errors.pattern">Email k dung dinh dang</div>
          </div>
        </div>
        <div class="form-group">
          <label>Ho Ten</label>
          <input type="text" class="form-control" name="hoTen" ngModel />
        </div>
        <div class="form-group">
          <label>SDT</label>
          <input type="text" class="form-control" name="soDT" />
        </div>
        <button class="btn btn-success" [disabled]="!addUserForm.valid">
          Add User
        </button>
      </form>
    </div>
  </div>
</div>
